openapi: 3.0.0
info:
  title: Dungeon service API
  description: Documentation Swagger pour l'API Dungeon service.
  version: 0.0.1
servers:
  - url: http://localhost:3000

paths:
  /dungeons:
    get:
      summary: Récupère tous les donjons
      tags:
        - Dungeons
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dungeon'
        '500':
          description: Internal Server Error
    post:
      summary: Crée un nouveau donjon
      tags:
        - Dungeons
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dungeon'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dungeon'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /dungeons/{uuid}:
    get:
      tags: 
        - Dungeons
      summary: Récupère un donjon par son UUID
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Détails du donjon
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dungeon"
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    
components:
  schemas:
    Dungeon:
      type: object
      required:
        - name
        - rooms
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7g8h-9i10-j11k12l13m14"
        name:
          type: string
          example: "Dungeon of Doom"
        rooms:
          type: array
          items:
            $ref: '#/components/schemas/Room'
    Room:
      type: object
      required:
        - id
        - dimensions
        - entrance
        - exit
        - order
      properties:
        id:
          type: string
          format: uuid
          example: "r1s2t3u4-v5w6-x7y8-9z10-a11b12c13d14"
        dimensions:
          $ref: '#/components/schemas/Dimension'
        entrance:
          $ref: '#/components/schemas/Position'
        exit:
          $ref: '#/components/schemas/Position'
        order:
          type: integer
          example: 1
    Dimension:
      type: object
      required:
        - width
        - height
      properties:
        width:
          type: integer
          example: 10
        height:
          type: integer
          example: 8
    Position:
      type: object
      required:
        - x
        - y
      properties:
        x:
          type: integer
          example: 0
        y:
          type: integer
          example: 2
