openapi: 3.0.0
info:
  title: Item Service API
  description: API de gestion des items
  version: 1.1.0
servers:
  - url: http://localhost:3004
paths:
  /items:
    get:
      summary: Récupérer tous les items
      tags:
        - Items
      responses:
        '200':
          description: Liste des items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Item'
        '500':
          description: Erreur interne du serveur
  /items/random:
    get:
      summary: Récupérer un item aléatoire
      tags:
        - Items
      responses:
        '200':
          description: Item aléatoire
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '404':
          description: Aucun item trouvé
        '500':
          description: Erreur interne du serveur

  /items/{id}:
    get:
      summary: Récupérer un item par son id
      tags:
        - Items
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Détails de l'item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '404':
          description: Item non trouvé
        '500':
          description: Erreur interne du serveur
    
components:
  schemas:
    Item:
      type: object
      required: [id, name, effect, value, rarity, itemType]
      properties:
        id:
          type: number
          description: Identifiant unique de l'item (id).
          example: 1
        name:
          type: string
          description: Nom de l'item.
          example: "Iron Sword"
        effect:
          type: string
          description: Effet principal de l'item (attaque, soin, etc.).
          enum: [Attack, Heal, HealthPointMax]
          example: "Attack"
        value:
          type: number
          description: Valeur numérique de l'effet (dégâts, soin, bonus, etc.).
          example: 10
        description:
          type: string
          description: Description textuelle de l'item.
          example: "A basic iron sword."
        rarity:
          type: string
          description: Rareté de l'item.
          enum: [Common, Rare, Epic, Legendary]
          example: "Common"
        itemType:
          type: string
          description: Type d'item (arme, consommable, armure).
          enum: [Weapon, Consumable, Armor]
          example: "Weapon"
      example:
        id: 1
        name: "Iron Sword"
        effect: "Attack"
        value: 10
        description: "A basic iron sword."
        rarity: "Common"
        itemType: "Weapon"

tags:
  - name: Items
    description: Gestion des items