openapi: 3.0.0
info:
  title: Log service API
  description: Documentation Swagger pour l'API Log service.
  version: 0.0.1
servers:
  - url: http://localhost:3005

paths:
  /logs:
    get:
      summary: Get logs
      tags:
        - Logs
      responses:
              '200':
                description: Ok
                content:
                  application/json:
                    schema:
                      type: array
                      items:
                        $ref: '#/components/schemas/Log'
              '400':
                description: Bad Request
              '500':
                description: Internal Server Error
    post:
      summary: Create a new log
      tags:
        - Logs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Log'
      responses:
              '201':
                description: Created
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/Log'
              '400':
                description: Bad Request
              '500':
                description: Internal Server Error
components:
  schemas:
    Log:
      type: object
      required:
        - id
        - date
        - entity
        - message
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        entity:
          type: string
        message:
          type: string