openapi: 3.0.0
info:
  title: Mob service API
  description: Documentation Swagger pour l'API Mob service.
  version: 0.0.1
servers:
  - url: http://localhost:3006

paths:
  /mobs:
    get:
      summary: Get mobs
      tags:
        - Mobs
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Mob'
        '500':
          description: Internal Server Error
  /mobs/{id}:
    get:
      summary: Get a mob by id
      tags:
        - Mobs
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  mob:
                    $ref: '#/components/schemas/Mob'
        '500':
          description: Internal Server Error
        '404':
          description: Not Found
  /mobs/type/{type}:
    get:
      summary: Get mobs by type
      tags:
        - Mobs
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: ['Common', 'Boss']
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Mob'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    
components:
  schemas:
    Mob:
      type: object
      required:
        - id
        - name
        - healthPoints
        - healthPointsMax
        - attackPoints
        - type
      properties:
        id:
          type: integer
        name:
          type: string
        healthPoints:
          type: integer
        healthPointsMax:
          type: integer
        attackPoints:
          type: integer
        type:
          type: string
          enum: ['Common', 'Boss']
