openapi: 3.0.0
info:
  title: Mob service API
  description: Documentation Swagger pour l'API Mob service.
  version: 0.0.1
servers:
  - url: http://localhost:3006

paths:
  /mobs:
    get:
      summary: Get mobs
      tags:
        - Mobs
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Mob'
        '500':
          description: Internal Server Error
    
components:
  schemas:
    Mob:
      type: object
      required:
        - id
        - name
        - hp
        - attack
      properties:
        id:
          type: integer
        name:
          type: string
        hp:
          type: integer
        attack:
          type: integer
